<div class="container mainContainer">
  <div class="row platformRow" *ngFor="let platform of platforms" [routerLink]="['/platform', platform.id]">
    <div class="col-2 col-sm-2 text-center">
      <img [ngClass]="{'mW90': platform}" [src]="platform | NoPicPipe" alt="{{platform.slug}}" class="img-fluid">
    </div>
    <div class="col-5 col-sm-5">
      {{platform | json}}
      {{platform.name}}
    </div>
    <div class="col-5 col-sm-5">
      <span style="position: absolute; right: 70px;"  *ngIf="platform.games">{{platform.games.length}} Games</span>
    </div>
 </div>
</div>
